<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello Electron React!</title>
    <script defer src="https://cdn.tailwindcss.com"></script>

    <script async type="text/javascript" src="https://webgazer.cs.brown.edu/webgazer.js?" defer></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>
    // window.electron.ipcRenderer.on('datacsv', (arg) => {
    //   // eslint-disable-next-line no-console
    //   console.log('nanan')
    //   console.log(arg);
    // });

    window.electron.ipcRenderer.myPing();
  </script>
</html>
